.DS_Store
.env.local
.env.production
.env.development
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# dependency directories
node_modules/

# next.js
.next/
out/

# firebase
firebase-debug.log
firebase-debug.*.log

# production
production/

# misc
.vscode/
*.log
*.local

# build outputs
dist/
build/

# cache
.angular/
.cache/
.eslintcache

# specific to python functions
venv/
__pycache__/
*.pyc